<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Posts</title>
    </head>
    <body>

        <div>
            <h3>posts</h3>
            {% for key, value in posts %}
                id : {{ value.id }}
                post : {{ value.post }}
                <br>
            {% endfor %}
        </div>


    </body>
</html>